# Configuração do Supabase
NEXT_PUBLIC_SUPABASE_URL=https://duvgptwzoodyyjbdhepa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1dmdwdHd6b29keXlqYmRoZXBhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc2MTU4MDcsImV4cCI6MjA3MzE5MTgwN30.g3q7AnhX3i2TBQdN0HJ7CvKZ8dVmnZSCQdyycyuTJ_g

# Access Keys para Storage (que você já tem)
SUPABASE_ACCESS_KEY_ID=fccd7837833870fc3c9469a29f7f8a38
SUPABASE_SECRET_ACCESS_KEY=ce72988a69e14fc882e70f224f9b3201daf5a44cf4ec274e9c249398d6ea1328

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAUhfcsXZpnYLr3EZVYE56Xo75UahK_azc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=mobiliai.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=mobiliai
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=mobiliai.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=700659697742
NEXT_PUBLIC_FIREBASE_APP_ID=1:700659697742:web:455fb8a681ce38ee8a9b1f