NEXT_PUBLIC_API_URL="http://localhost:3001/api"
NEXT_PUBLIC_ABACATEPAY_ENVIRONMENT=sandbox

# Configuração do ImageKit (para upload de imagens de produtos)
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/ujp6mp5if

# Configuração do Supabase (para banco de dados - não mais usado para storage de imagens)
NEXT_PUBLIC_SUPABASE_URL=https://duvgptwzoodyyjbdhepa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1dmdwdHd6b29keXlqYmRoZXBhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc2MTU4MDcsImV4cCI6MjA3MzE5MTgwN30.g3q7AnhX3i2TBQdN0HJ7CvKZ8dVmnZSCQdyycyuTJ_g

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAUhfcsXZpnYLr3EZVYE56Xo75UahK_azc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=mobiliai.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=mobiliai
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=mobiliai.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=700659697742
NEXT_PUBLIC_FIREBASE_APP_ID=1:700659697742:web:455fb8a681ce38ee8a9b1f
NEXT_PUBLIC_N8N_WEBHOOK_URL="http://localhost:5678/webhook/f406671e-c954-4691-b39a-66c90aa2f103/chat"

# Configuração MQTT (para leitura de RFID no PDV)
NEXT_PUBLIC_MQTT_BROKER=10.70.124.30
NEXT_PUBLIC_MQTT_WS_PORT=9001
NEXT_PUBLIC_MQTT_TOPIC_RFID=palmieri/tag